FIREBASE_API_KEY=AIzaSyDQw6FCrtHNkiKWIUXMzU2RxXOOfu8CA-U
FIREBASE_APP_ID=1:620707264314:web:1b1690e74a24009c7b0203
FIREBASE_DATABASE_URL=https://skillrush-5a67d-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_PROJECT_ID=skillrush-5a67d
FIREBASE_STORAGE_BUCKET=skillrush-5a67d.firebasestorage.app
